* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Crimson Pro";
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
}

#nav {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  gap: 60px;
  padding: 0px 130px;
  justify-content: flex-start;
  position: fixed;
  z-index: 99;
}

#nav img {
  height: 120px;
}

#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
}

#cursor {
  height: 18px;
  width: 18px;
  background-color: #eb7b84;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}
#cursor-blur {
  height: 200px;
  width: 200px;
  background-color: #eb7b84bb;
  border-radius: 50%;
  position: fixed;
  filter: blur(70px);
  z-index: 9;
}

video {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

#main {
  position: relative;
  background-color: rgb(0 0 0 / 38%);
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

#page1 h1 {
  font-weight: 900;
  font-size: 60px;
  position: relative;
}

#page1 h1::before {
  content: "SING YOUR STORY";
  color: black;
  position: absolute;
  top: -3px;
  left: -3px;
  -webkit-text-stroke: 2px #eb7b84;
  z-index: -1;
}

#page1 h2 {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 4px;
  z-index: 10;
}

#page1 p {
  font-size: 16px;
  width: 45%;
  text-align: center;
  font-weight: 200;
}
#page2 {
  position: relative;
  height: 100vh;
  width: 100%;
}
