* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Crimson Pro";
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
}

#nav {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  gap: 60px;
  padding: 0px 130px;
  justify-content: flex-start;
  position: fixed;
  z-index: 99;
}

#nav img {
  height: 120px;
}

#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
}

#cursor {
  height: 18px;
  width: 18px;
  background-color: #eb7b84;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}
#cursor-blur {
  height: 200px;
  width: 200px;
  background-color: #eb7b84bb;
  border-radius: 50%;
  position: fixed;
  filter: blur(70px);
  z-index: 9;
}

video {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

#main {
  position: relative;
  background-color: rgb(0 0 0 / 38%);
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

#page1 h1 {
  font-weight: 900;
  font-size: 60px;
  position: relative;
}

#page1 h1::before {
  content: "SING YOUR STORY";
  color: black;
  position: absolute;
  top: -3px;
  left: -3px;
  -webkit-text-stroke: 2px #eb7b84;
  z-index: -1;
}

#page1 h2 {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 4px;
}

#page1 p {
  font-size: 16px;
  width: 45%;
  text-align: center;
  font-weight: 200;
}
#page2 {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}

#scroller::-webkit-scrollbar {
  display: none;
}

.scroller-1 {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4 {
  display: inline-block;
  font-family: Lilita One;
  -webkit-text-stroke: 0.5px #eb7b84;
  color: transparent;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 400;
  margin-right: 20px;
  transition: all linear 0.5s;
}

#scroller h4:hover {
  color: #eb7b84;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#about-us {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px;
}

#about-us img {
  height: 220px;
  width: 220px;
  border-radius: 20px;
  object-fit: cover;
}

#about-in {
  width: 40%;
  text-align: center;
}
#about-in h1 {
  font-size: 54px;
  font-weight: 800;
  margin-bottom: 20px;
}
#about-in p {
  line-height: 20px;
}

#cards-cont {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  z-index: 10;
}

#cards-cont .card {
  height: 75%;
  width: 22%;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all ease 0.6s;
}

.card1 {
  background-image: url(https://images.unsplash.com/photo-1588083066783-8828e623bad7?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card2 {
  background-image: url(https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?q=80&w=1375&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card3 {
  background-image: url(https://images.unsplash.com/photo-1515168833906-d2a3b82b302a?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: #eb7b84;
  padding: 50px 22px;
  opacity: 0;
  transition: all ease 0.6s;
}

.overlay h4 {
  color: black;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.overlay p {
  color: black;
  font-size: 18px;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover {
  transform: rotate3d(-1, 1, 0, 25deg);
}
